.imageGallery {
  height: 100%;
  padding: 50px 0;
  /* background: linear-gradient(#d4e1f7, #b3bccc); */
}

header {
  text-align: center;
}

.imageHolder {
  max-width: 200px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  max-width: 100%;
  box-shadow: 0 0 4px grey;
  transition-duration: .4s;
}

img:hover {
  -ms-transform: scale(1.1, 1.1); /* IE 9 */
  -webkit-transform: scale(1.1, 1.1); /* Safari */
  transform: scale(1.1, 1.1);
  transition-duration: .4s;
}

.grid-container {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-row-gap: 20px;
  grid-template-columns: 20% 20% 20% 20% 20%;
}
