
.imageHolder {
  max-width: 200px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  max-width: 100%;
  box-shadow: 0 0 4px grey;
}

.grid-container {
  width: 90%;
  margin: 25px auto 0;
  display: grid;
  grid-row-gap: 20px;
  grid-template-columns: 20% 20% 20% 20% 20%;
}
